<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SignUpControl</servlet-name>
        <servlet-class>Controller.SignUpControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserVerify</servlet-name>
        <servlet-class>Controller.UserVerify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPage</servlet-name>
        <servlet-class>Controller.AdminPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Request</servlet-name>
        <servlet-class>Controller.RequestControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveRequest</servlet-name>
        <servlet-class>Controller.ApproveRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DenyRequest</servlet-name>
        <servlet-class>Controller.DenyRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageSkill</servlet-name>
        <servlet-class>Controller.ManageSkill<servlet-name>ManageSkill</servlet-name></servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SkillCategoryControl</servlet-name>
        <servlet-class>Controller.SkillCategoryControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Skill_delete</servlet-name>
        <servlet-class>Controller.Skill_delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserControl</servlet-name>
        <servlet-class>Controller.UserControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUser</servlet-name>
        <servlet-class>ManageUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_delete</servlet-name>
        <servlet-class>Controller.User_delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPassword</servlet-name>
        <servlet-class>Controller.NewPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Skill_update</servlet-name>
        <servlet-class>Controller.Skill_update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRequest</servlet-name>
        <servlet-class>Controller.CreateRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadRequest</servlet-name>
        <servlet-class>Controller.LoadRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRequest</servlet-name>
        <servlet-class>Controller.DeleteRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRequest</servlet-name>
        <servlet-class>Controller.UpdateRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenteePage</servlet-name>
        <servlet-class>Controller.MenteePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MentorBySkill</servlet-name>
        <servlet-class>Controller.MentorBySkillControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mentee_update</servlet-name>
        <servlet-class>Controller.Mentee_update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_update</servlet-name>
        <servlet-class>Controller.User_update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rating</servlet-name>
        <servlet-class>Controller.RatingControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinishRequest</servlet-name>
        <servlet-class>Controller.FinishRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MentorProfile</servlet-name>
        <servlet-class>Controller.MentorProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MPControl</servlet-name>
        <servlet-class>Controller.MPControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListRating</servlet-name>
        <servlet-class>Controller.ListRating</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MentorControl</servlet-name>
        <servlet-class>Controller.MentorControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeControl</servlet-name>
        <servlet-class>Controller.HomeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaticReqController</servlet-name>
        <servlet-class>Controller.StaticReqController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCV</servlet-name>
        <servlet-class>Controller.CreateCV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>Controller.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_Mentor_Profile</servlet-name>
        <servlet-class>Controller.Update_Mentor_Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCV</servlet-name>
        <servlet-class>Controller.UpdateCV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MentorRequest</servlet-name>
        <servlet-class>Controller.MentorRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptRequest</servlet-name>
        <servlet-class>Controller.AcceptRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectRequest</servlet-name>
        <servlet-class>Controller.RejectRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MentorRegistControl</servlet-name>
        <servlet-class>Controller.MentorRegistControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveMentorRegist</servlet-name>
        <servlet-class>Controller.ApproveMentorRegist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectMentorRegist</servlet-name>
        <servlet-class>Controller.RejectMentorRegist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageRateControl</servlet-name>
        <servlet-class>Controller.ManageRateControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRating</servlet-name>
        <servlet-class>Controller.DeleteRating</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpControl</servlet-name>
        <url-pattern>/SignUpControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserVerify</servlet-name>
        <url-pattern>/UserVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPage</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Request</servlet-name>
        <url-pattern>/request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveRequest</servlet-name>
        <url-pattern>/approve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DenyRequest</servlet-name>
        <url-pattern>/deny</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserControl</servlet-name>
        <url-pattern>/UserControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUser</servlet-name>
        <url-pattern>/ManageUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_delete</servlet-name>
        <url-pattern>/User_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPassword</servlet-name>
        <url-pattern>/newpw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Skill_update</servlet-name>
        <url-pattern>/Skill_update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRequest</servlet-name>
        <url-pattern>/CreateRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadRequest</servlet-name>
        <url-pattern>/LoadRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRequest</servlet-name>
        <url-pattern>/DeleteRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRequest</servlet-name>
        <url-pattern>/UpdateRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenteePage</servlet-name>
        <url-pattern>/mentee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MentorBySkill</servlet-name>
        <url-pattern>/mbs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mentee_update</servlet-name>
        <url-pattern>/Mentee_update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_update</servlet-name>
        <url-pattern>/User_update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rating</servlet-name>
        <url-pattern>/rating</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinishRequest</servlet-name>
        <url-pattern>/FinishRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MentorProfile</servlet-name>
        <url-pattern>/MentorProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MPControl</servlet-name>
        <url-pattern>/MPControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListRating</servlet-name>
        <url-pattern>/ListRating</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MentorControl</servlet-name>
        <url-pattern>/MentorControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeControl</servlet-name>
        <url-pattern>/HomeControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaticReqController</servlet-name>
        <url-pattern>/staticReq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCV</servlet-name>
        <url-pattern>/createCV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_Mentor_Profile</servlet-name>
        <url-pattern>/Update_Mentor_Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCV</servlet-name>
        <url-pattern>/updateCV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MentorRequest</servlet-name>
        <url-pattern>/MentorRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptRequest</servlet-name>
        <url-pattern>/AcceptRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectRequest</servlet-name>
        <url-pattern>/RejectRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MentorRegistControl</servlet-name>
        <url-pattern>/MentorRegistControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveMentorRegist</servlet-name>
        <url-pattern>/ApproveMentorRegist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectMentorRegist</servlet-name>
        <url-pattern>/RejectMentorRegist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageRateControl</servlet-name>
        <url-pattern>/manageRate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRating</servlet-name>
        <url-pattern>/deleteRating</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet-mapping>
        <servlet-name>ManageSkill</servlet-name>
        <url-pattern>/ManageSkill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SkillCategoryControl</servlet-name>
        <url-pattern>/SkillCategoryControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Skill_delete</servlet-name>
        <url-pattern>/Skill_delete</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>HomeControl</welcome-file>
    </welcome-file-list>
</web-app>
